// breadcrumb

.rtl {
  .breadcrumb {
    .breadcrumb-item + .breadcrumb-item::before {
      float: right;
      padding-left: $breadcrumb-item-padding-x;
      padding-right: 0;
    }
  }

  .sidenav {
    .navbar-nav {
      width: 100%;
      padding-right: 0;
    }
  }

  .fixed-plugin {
    .fixed-plugin-button {
      left: $fixed-plugin-right;
      right: auto;
    }

    .card {
      left: -$fixed-plugin-card-width !important;
      right: auto;
    }

    &.show {
      .card {
        right: auto;
        left: 0 !important;
      }
    }
  }

  .timeline {
    .timeline-content {
      margin-right: $timeline-content-margin-left;
      margin-left: 0;
    }

    .timeline-step {
      transform: $timeline-step-transform-rtl;
    }

    &.timeline-one-side {
      &:before {
        right: $timeline-left;
      }

      .timeline-step {
        right: $timeline-left;
      }
    }
  }

  .form-check {
    &.form-switch {
      .form-check-input {
        &:after {
          transform: translateX(-$form-switch-translate-x-start);
        }

        &:checked:after {
          transform: translateX(-$form-switch-translate-x-end);
        }
      }
    }
  }

  .avatar-group {
    .avatar + .avatar {
      margin-left: 0;
      margin-right: $avatar-group-double;
    }
  }

  .dropdown {
    .dropdown-menu {
      left: 0;
    }
  }

  .input-group {
    .input-group-text {
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-right: $input-border-width solid $input-border-color;
    }

    & > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
      margin-right: -1px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: $input-border-radius;
      border-bottom-left-radius: $input-border-radius;
      border-right: 0;
      border-left: $input-border-width solid $input-border-color;
    }

    &:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3),
    &:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
      border-top-right-radius: $input-border-radius;
      border-bottom-right-radius: $input-border-radius;
    }
  }
}

// °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° OTHERS °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°

.item1{
  display: inline;
}
.item2{
  display: none;
}
.item3{
  display: none;
}
.item4{
  display: inline;
}
.item5{
  display: none;
}
.item6{
  display: none;
}
.item7{
  display: none;
}
.item8{
  display: none;
}
.item9{
  display: none;
}
.item10{
  display: none;
}
.conTableY{
  display: none;
  height: fit-content;
  max-height: 8rem;
  overflow-y: scroll;
}
.conTableY::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
  border-radius: 20px; 
}
.conTableY::-webkit-scrollbar-track {
  background: #e9ecef;        /* color of the tracking area */
  border-radius: 20px; 
}
.conTableY::-webkit-scrollbar-thumb {
  background-color: blue;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #e9ecef;  /* creates padding around scroll thumb */
}
.conTableYE{
  display: none;
  height: 300px;
  overflow-y: scroll;
}
.conTableYE::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
  border-radius: 20px; 
}
.conTableYE::-webkit-scrollbar-track {
  background: #e9ecef;        /* color of the tracking area */
  border-radius: 20px; 
}
.conTableYE::-webkit-scrollbar-thumb {
  background-color: blue;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #e9ecef;  /* creates padding around scroll thumb */
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }
/*# sourceMappingURL=dashboard-free.css.map */
.tableConsY{
  height: 500px;
  overflow-y: scroll;
}
.tableConsY::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
  border-radius: 20px; 
}
.tableConsY::-webkit-scrollbar-track {
  background: #e9ecef;        /* color of the tracking area */
  border-radius: 20px; 
}
.tableConsY::-webkit-scrollbar-thumb {
  background-color: blue;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #e9ecef;  /* creates padding around scroll thumb */
}

.calendar{
  width: 100%;
  height: 70%;
  user-select: none;
}

.currentDate{
  font-size: 17px;
  font-weight: bold;
  color: var(--bs-primary-rgb);
}

.days{
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 20px 0;
  font-size: 1.2rem;
  color: var(--bs-red);
}

.dates{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
}

.date{
  text-align: center;
  padding: 20px 0;
  font-size: 1.6rem;
  transition: all 0.3s;
  border: 3px solid transparent;
  border-radius: 15px;
  cursor: pointer;
  background-color: transparent;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.3);
}

.date.currentMonth{
  color: var(--bs-primary);
}

.date:hover{
  border-color: var(--bs-gray);
  background-color: #0dcaf0;
  color: #FFF;
}

.date.selected{
  background-color: #0da5c0;
  color: #FFF;
}

.mostrar-attach{
  display: none;
}